{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {"jsx": true}
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {"expect": 1},
  "rules": {
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "prefer-template": "error",
    "arrow-parens": ["error", "as-needed"],
    "space-before-function-paren": ["error", "always"],
    "semi": ["error", "never"],
    "space-in-parens": ["error", "always", {"exceptions": ["empty"]}],
    "prefer-const": ["error"],

    "react/jsx-uses-react": "error",
    "react/jsx-key": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-space-before-closing": "error",
    "react/jsx-tag-spacing": "error",
    "react/display-name":  [0],
    "react/prop-types": [0],
    "react/jsx-curly-spacing": [2, "always"],
  }
}
